USE [CourseScheduler]
GO
/****** Object:  Table [dbo].[PROFESSOR]    Script Date: 04/14/2012 13:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSOR](
	[PROF_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROF_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PROFESSOR] PRIMARY KEY CLUSTERED 
(
	[PROF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACULTY]    Script Date: 04/14/2012 13:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTY](
	[FACU_ID] [int] IDENTITY(1,1) NOT NULL,
	[FACU_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FACULTY] PRIMARY KEY CLUSTERED 
(
	[FACU_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASSROOM]    Script Date: 04/14/2012 13:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSROOM](
	[CLRO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLRO_NAME] [nvarchar](50) NOT NULL,
	[CLRO_FACULTYID] [int] NOT NULL,
 CONSTRAINT [PK_CLASSROOM] PRIMARY KEY CLUSTERED 
(
	[CLRO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 04/14/2012 13:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPA_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPA_NAME] [nvarchar](50) NOT NULL,
	[DEPA_FACULTYID] [int] NOT NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[DEPA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 04/14/2012 13:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[COUR_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUR_CODE] [nvarchar](10) NOT NULL,
	[COUR_NAME] [nvarchar](50) NOT NULL,
	[COUR_DESCRIPTION] [nvarchar](250) NULL,
	[COUR_SEMESTER] [int] NOT NULL,
	[COUR_HOUR] [int] NOT NULL,
	[COUR_DEPARTMENTID] [int] NOT NULL,
 CONSTRAINT [PK_COURSE] PRIMARY KEY CLUSTERED 
(
	[COUR_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENTCOURSE]    Script Date: 04/14/2012 13:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTCOURSE](
	[DECO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DECO_DEPARTMENTID] [int] NOT NULL,
	[DECO_COURSEID] [int] NOT NULL,
 CONSTRAINT [PK_DEPARTMENTCOURSE] PRIMARY KEY CLUSTERED 
(
	[DECO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECTION]    Script Date: 04/14/2012 13:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTION](
	[SECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SECT_COURSEID] [int] NOT NULL,
 CONSTRAINT [PK_SECTION] PRIMARY KEY CLUSTERED 
(
	[SECT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESSORSECTION]    Script Date: 04/14/2012 13:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSORSECTION](
	[PRSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRSE_PROFESSORID] [int] NOT NULL,
	[PRSE_SECTIONID] [int] NOT NULL,
	[PRSE_DAY] [int] NOT NULL,
	[PRSE_HOUR] [int] NOT NULL,
 CONSTRAINT [PK_PROFESSORSECTION] PRIMARY KEY CLUSTERED 
(
	[PRSE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_CLASSROOM_FACULTY]    Script Date: 04/14/2012 13:54:43 ******/
ALTER TABLE [dbo].[CLASSROOM]  WITH CHECK ADD  CONSTRAINT [FK_CLASSROOM_FACULTY] FOREIGN KEY([CLRO_FACULTYID])
REFERENCES [dbo].[FACULTY] ([FACU_ID])
GO
ALTER TABLE [dbo].[CLASSROOM] CHECK CONSTRAINT [FK_CLASSROOM_FACULTY]
GO
/****** Object:  ForeignKey [FK_DEPARTMENT_FACULTY]    Script Date: 04/14/2012 13:54:43 ******/
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_FACULTY] FOREIGN KEY([DEPA_FACULTYID])
REFERENCES [dbo].[FACULTY] ([FACU_ID])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [FK_DEPARTMENT_FACULTY]
GO
/****** Object:  ForeignKey [FK_COURSE_DEPARTMENT]    Script Date: 04/14/2012 13:54:43 ******/
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_DEPARTMENT] FOREIGN KEY([COUR_DEPARTMENTID])
REFERENCES [dbo].[DEPARTMENT] ([DEPA_ID])
GO
ALTER TABLE [dbo].[COURSE] CHECK CONSTRAINT [FK_COURSE_DEPARTMENT]
GO
/****** Object:  ForeignKey [FK_DEPARTMENTCOURSE_COURSE]    Script Date: 04/14/2012 13:54:43 ******/
ALTER TABLE [dbo].[DEPARTMENTCOURSE]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENTCOURSE_COURSE] FOREIGN KEY([DECO_COURSEID])
REFERENCES [dbo].[COURSE] ([COUR_ID])
GO
ALTER TABLE [dbo].[DEPARTMENTCOURSE] CHECK CONSTRAINT [FK_DEPARTMENTCOURSE_COURSE]
GO
/****** Object:  ForeignKey [FK_DEPARTMENTCOURSE_DEPARTMENT]    Script Date: 04/14/2012 13:54:43 ******/
ALTER TABLE [dbo].[DEPARTMENTCOURSE]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENTCOURSE_DEPARTMENT] FOREIGN KEY([DECO_DEPARTMENTID])
REFERENCES [dbo].[DEPARTMENT] ([DEPA_ID])
GO
ALTER TABLE [dbo].[DEPARTMENTCOURSE] CHECK CONSTRAINT [FK_DEPARTMENTCOURSE_DEPARTMENT]
GO
/****** Object:  ForeignKey [FK_SECTION_COURSE]    Script Date: 04/14/2012 13:54:43 ******/
ALTER TABLE [dbo].[SECTION]  WITH CHECK ADD  CONSTRAINT [FK_SECTION_COURSE] FOREIGN KEY([SECT_COURSEID])
REFERENCES [dbo].[COURSE] ([COUR_ID])
GO
ALTER TABLE [dbo].[SECTION] CHECK CONSTRAINT [FK_SECTION_COURSE]
GO
/****** Object:  ForeignKey [FK_PROFESSORSECTION_PROFESSOR]    Script Date: 04/14/2012 13:54:43 ******/
ALTER TABLE [dbo].[PROFESSORSECTION]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSORSECTION_PROFESSOR] FOREIGN KEY([PRSE_PROFESSORID])
REFERENCES [dbo].[PROFESSOR] ([PROF_ID])
GO
ALTER TABLE [dbo].[PROFESSORSECTION] CHECK CONSTRAINT [FK_PROFESSORSECTION_PROFESSOR]
GO
/****** Object:  ForeignKey [FK_PROFESSORSECTION_SECTION]    Script Date: 04/14/2012 13:54:43 ******/
ALTER TABLE [dbo].[PROFESSORSECTION]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSORSECTION_SECTION] FOREIGN KEY([PRSE_SECTIONID])
REFERENCES [dbo].[SECTION] ([SECT_ID])
GO
ALTER TABLE [dbo].[PROFESSORSECTION] CHECK CONSTRAINT [FK_PROFESSORSECTION_SECTION]
GO
